<div class="page-header">
  <h1>New Feedback</h1>
</div>

<form class="well" action="/feedback/new" method="post">
  <label>Telephone</label>
  <input type="text" name="feedback[telephone]" value="">

  <label>
    Massage
  </label>
  <input type="text" name="feedback[message]" value="">
<br/>
  <button class="btn" type="submit" name="submit">Create</button>
</form>
